

	
h1{
	color:#C3585A;
}


.c1{
	font-weight:bold;
	font-family:arial;
	color:#626763}
	.c2{
	font-weight:bold;
	font-family:arial;
	color:#0F079E;
	font-style:italic;}
	.c3{
	font-weight:bold;
	font-family:arial;
	color:#E11ECE}
	.c4{
	font-weight:bold;
	font-family:arial;
	color:#22DD80}
	.c5{
	font-weight:bold;
	font-family:arial;
	color:#7A00F4}
	.c6{
	font-weight:bold;
	font-family:arial;
	color:#CC7133}
	.c7{
	font-weight:bold;
	font-family:arial;
	color:#44BEC7}
	.c8{
	font-weight:bold;
	font-family:arial;
	color:#2E5240
	}
	.b1{
		text-decoration:underline;
		
		
	}
	
	.b2{
		text-transform:uppercase;
	}
	
	.b3{
		font-family:Flaemische Kanzleischrift;
	}
	
  .b4{
	  font-family:Bold & Stylish Calligraphy;
  }